<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head('Posts Show Page')" />
<body>
<nav th:replace="fragments :: navbar" />

<div class="alert alert-success alert-dismissible" role="alert" th:if="${successMessage}">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p th:text="${successMessage}" />
</div>

    <div class="container">
    <h1>Viewing post #<span th:text="${post.id}" /></h1>

    <h2 th:text="${post.title}" />
    <ul>
        <li th:each="tag : ${post.tags}" th:text="${tag.name}">some tag</li>
    </ul>
    <p th:text="${post.body}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur facilis, sequi. A ad autem delectus dicta distinctio esse fugiat, nemo placeat porro praesentium provident quisquam, reiciendis sequi sint soluta ut?</p>
    <p>Posted by <span th:text="${post.user.username}" /></p>
</div>

<div th:replace="fragments :: javscripts" />
</body>
</html>
