<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head('Your Profile')" />
<body>
<nav th:replace="fragments :: navbar" />

<div class="container">
    <h1>Welcome, <span th:text="${user.username}" />!</h1>
    <p>Id # <span th:text="${user.id}" /></p>
    <p>Email: <span th:text="${user.email}" /></p>
    <h2>Here are your posts:</h2>

    <div class="col-md-6" th:each="post : ${posts}">
        <h3 th:text="${post.title}" />
        <p th:text="${post.body}" />
    </div>

</div>

<div th:replace="fragments :: javascripts" />
</body>
</html>
